# サンプル用のコアスクリプトはコミットしない
ref/**/*.*
/node_modules
game/
dummy/


coverage/
*.tsbuildinfo
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

**/bin/
**/obj/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates